/* this file defines the global styles for the application
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: white !important; /* The !important tag forces the color */
  background-color: #050505;
  min-height: 100vh;
}

/* Forces all headings and paragraphs to inherit white */
h1, h2, h3, h4, p, span, div {
  color: white;
}